fastapi>=0.111.0
uvicorn[standard]>=0.30.0
sqlalchemy[asyncio]>=2.0.30
asyncpg>=0.29.0
alembic>=1.13.0
greenlet>=3.0.0
redis[hiredis]>=5.0.0
python-jose[cryptography]>=3.3.0
argon2-cffi>=23.1.0
pydantic>=2.7.0
pydantic-settings>=2.3.0
email-validator>=2.1.0
razorpay>=1.4.1
httpx>=0.27.0
qrcode[pil]>=7.4.2
boto3>=1.34.0
slowapi>=0.1.9
python-multipart>=0.0.9
python-dotenv>=1.0.0
aiosqlite>=0.20.0
cloudinary>=1.41.0

sqladmin==0.31.0
itsdangerous==2.2.0
jinja2==3.1.6
wtforms==3.2.2
